* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: auto;
  overflow-x: hidden;
  background: #f7f7f7;
}

.company {
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  padding: 15px 400px;
  background: rgb(76, 174, 240);
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px 10px 0px 0px;
}

.visi {
  cursor: pointer;
  padding: 15px 400px;
  background: rgb(76, 174, 240);
  border: 1px solid rgb(231, 231, 231);
}

.deskripsi {
  cursor: pointer;
  padding: 15px 400px;
  background: rgb(76, 174, 240);
  border: 1px solid rgb(231, 231, 231);
}

h2 {
  color: white;
  line-height: 23px;
  letter-spacing: 1px;
  font-size: 12pt;
}

.company-title {
  display: none;
  text-align: justify;
  background: white;
  padding: 25px;
}

.visi-title {
  display: none;
  text-align: justify;
  background: white;
  padding: 25px;
}

.deskripsi-title {
  display: none;
  text-align: justify;
  background: white;
  padding: 25px;
}

p {
  line-height: 25px;
}

li {
  margin-left: 50px;
}
