body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: auto;
  background: rgb(236, 236, 236);
}

.main-card {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

h4 {
  margin-left: 10px;
  color: rgb(76, 174, 240);
}

p {
  margin-left: 10px;
  width: 200px;
  line-height: 15px;
}

.kucing {
  width: 100%;
  height: 200px;
  background: rgb(76, 174, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.kuda {
  width: 100%;
  height: 200px;
  background: rgb(76, 174, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.ayam {
  width: 100%;
  height: 200px;
  background: rgb(76, 174, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.anjing {
  width: 100%;
  height: 200px;
  background: rgb(76, 174, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.burung {
  width: 100%;
  height: 200px;
  background: rgb(76, 174, 240);
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
