body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}

th,
td {
  text-align: left;
  padding: 12px 20px;
  border: 1px solid #f6f6f6;
  text-align: center;
  background: white;
}

td {
  text-align: left;
}

th {
  background: #eeeeee;
}

table {
  border-collapse: collapse;
}

.top {
  padding: 30px;
  background: #45474f;
  font-size: 20pt;
  color: white;
}
